html{
  padding: 0px 3px;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.logo {
  margin-left: 1%;
  width: 8%;
}
.Search {
  display: flex;
  margin-top: 4%;
}

.button {
  margin-top: 0.5%;
}

.marques {
  margin-top: 5%;
}

.chaussuresBox{
  width: 100vw;
  margin-top: 15%;
}
.Selects{
  display: flex;
  margin: 4vw 5vw;
}
.Chaussures {
width: 90vw;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: space-between;
margin: auto;

}
Card{
  margin-top: 4vw;
}

.slide {
  margin-top: 2%;
}