html,body{
 overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.logo {
  margin-left: 1%;
  width: 8%;
}
.searchbox{
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin: 4vw 5vw 0 5vw;
}
Button, Stack{
  height: 55px;
}
.marques {
  margin-top: 5%;
}

.chaussuresBox{
  width: 100vw;
  margin-top: 15%;
}
.Selects{
  display: flex;
  margin: 4vw 5vw;
}
.Chaussures {
width: 90vw;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: space-between;
margin: auto;

}
Card{
  margin-top: 4vw;
}

.slide {
  margin-top: 2%;
}